# Video 381. Prediction with Trained ANN Model

In [31]:
import tensorflow as tf 
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as np

In [32]:
## load the trained model, scaler pickle pickle, onehot encoder
model = load_model('model.h5')

## load the encoders and scaler
with open('label_encoder_gender.pkl', 'rb') as file_obj:
    label_encoder_gender = pickle.load(file_obj)

with open('onehot_encoder_geo.pkl', 'rb') as file_obj:
    onehot_encoder_geo = pickle.load(file_obj)

with open('scaler.pkl', 'rb') as file_obj:
    scaler = pickle.load(file_obj)

In [33]:
# Example input data
input_data = {
    'CreditScore': 600,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 40,
    'Tenure': 3,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 50000
}

input_df = pd.DataFrame([input_data])
input_df

   CreditScore Geography Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          600    France   Male  ...          1               1            50000

[1 rows x 10 columns]

In [34]:
## One-hot encode 'Geography' 
geo_encoded = onehot_encoder_geo.transform([input_df['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns = onehot_encoder_geo.get_feature_names_out(['Geography']))

geo_encoded_df

d:\FILES\KrishNaikUdemy\Projects\ANN_Classification\venv\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [35]:
# combine one-hot encoded columns with input data
input_df.drop(['Geography'], axis=1, inplace=True)
input_df = pd.concat([input_df.reset_index(drop=True), geo_encoded_df], axis=1)

In [36]:
input_df

   CreditScore Gender  ...  Geography_Germany  Geography_Spain
0          600   Male  ...                0.0              0.0

[1 rows x 12 columns]

In [37]:
## encode categorical variables (Gender)
input_df['Gender'] = label_encoder_gender.transform(input_df['Gender'])

In [38]:
input_df

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          600       1  ...                0.0              0.0

[1 rows x 12 columns]

In [39]:
## scaling the input data
input_scaled = scaler.transform(input_df)

input_scaled, input_scaled.shape

(array([[-0.53598516,  0.91324755,  0.10479359, -0.69539349, -0.25781119,
          0.80843615,  0.64920267,  0.97481699, -0.87683221,  1.00150113,
         -0.57946723, -0.57638802]]),
 (1, 12))

In [40]:
## make prediction
prediction = model.predict(input_scaled)
print(prediction)

1/1 [==============================] - 0s 260ms/step
[[0.04014082]]

In [ ]:
prediction[0][0] ## less than 0.5, not likely for customer to leave bank

0.040140815